/* Fuentes */
@font-face {
    font-family: normal;
    src: url(fuentes/Poppins-Regular.ttf);
}
@font-face {
    font-family: subtitulos;
    src: url(fuentes/Poppins-Bold.ttf);
}
@font-face {
    font-family: titulos;
    src: url(fuentes/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: italica;
    src: url(fuentes/Poppins-LightItalic.ttf);
}
@font-face {
    font-family: dancing;
    src: url(fuentes/DancingScript-Bold.ttf);
}
@font-face {
    font-family: compacto;
    src: url(fuentes/BebasNeue-Regular.ttf);
}
/* variables */
:root{
    -color-resalto:rgb(154, 86, 58);
    -color-normal :black;
    -color-fondo: rgb(254, 245, 239);
}

body{
    margin: 0;
}
.icono{
    width: 50px;
}
/* **********NAV********************************** */
.nave{
    background-color: rgb(224, 193, 161);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px ;
    border-bottom: solid 2px rgb(154, 86, 58, 0.2);
}
.nave .lista{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}
.nave a{
    text-decoration: none;
    color:black;
    font-family: 'compacto';
    font-size: 17px;
}
#M{
    color:rgb(154, 86, 58);
    border-bottom: 1px solid rgb(154, 86, 58);
}

.lista .imagenes-nav img{
    display: flex;
    justify-content: center;
}
.imagenes-nav{
    display: flex;
}
.imagenes-nav img{
    margin-left: 5px;
    width: 35px;
}
/* ********PANTALLAZO************************************ */
.principal{
    display: flex;
    flex-direction:column;
    background-size: cover;
    background-image: url('imagenes/fondo3.webp'); 
    align-items: center;
    padding: 10px;
    text-align: center;
    min-height: 95vh;
    overflow-y: auto;
}
.principal h1{
    font-family: 'titulos';
    font-size: 50px;
    text-shadow: 0 10px 30px white;
}
.principal h2{
    color:rgb(92, 51, 34);
    font-family: 'dancing';
    font-size: 65px;
    text-shadow: 10px 10px 10px rgb(92, 51, 34);
}
.principal p{
    text-shadow: 0 10px 30px white;
}
#letras-principal{
    transition: 0.9s ease;
    animation: flotar  3s ease-in-out infinite;
}
.principal a{
    padding: 20px 40px;
    border: 2px solid wheat;
    border-radius: 25px;
    color: white;
    background-color: rgb(154, 86, 58) ;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}
.boton:hover {
    background-color: rgb(244, 223, 164);
    border-color: black;
    color: black;
    padding: 20px 50px;
}
.boton:focus{
    background-color: brown;
}
.principal p{
    color: rgb(154, 86, 58);
    font-family: 'normal';
    font-size: 20px;
    text-decoration: overline;
}

/* IMPORTANTE el key frames personalizado */
@keyframes flotar{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0);
    }
}


/* *****NUESTROS SERVICIOS************************************************ */
.nuestrosServ{
    padding:10%;
    font-family: 'normal';
    background-color: rgb(254, 245, 239);
    text-align: center;

}
.nuestrosServ h3{
    margin-bottom: 15px;
    font-size: 25px;
    text-align: center;
}

#extras{
    margin-top: 10px;
    text-align: center;
    color:rgb(92, 51, 34) ;
    font-family: 'subtitulos';
}
/* **********MATRIZ************************************************************* */
.casilla img{
    width: 280px;    
    border-radius: 20px;
}
.grilla{
     display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    font-family: 'normal';
}
.casilla{
    text-align: center;
    border: 2px solid rgb(154, 86, 58);
    padding: 30px 15px;
    margin: 20px 30px;
    height: 350px;
    width: 280px;
    border-radius: 50px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.7);
}
.grilla a{
    text-decoration: none;
    color: black;
}
a .casilla:hover{
    background-color: rgb(154, 86, 58) ;
    color: white;
    border: 2px solid white;
}

/* ********Institutos************************************************** */
.institutos{
    background-color: rgb(254, 245, 239) ;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.institutos img{
    width: 180px;
    border-radius: 30px;
    border:1px solid black;
    margin:20px;
}
#targetaInsti{
    display: flex;
    flex-direction: column;
    text-align: center;  
    align-items: center;
}

#titulo{
    text-align: center;
    margin-top: 50px;
    font-family: 'titulos';
}


/* *********Footer************************************************ */
footer{
    display: flex;
    flex-direction: column;
    background-color: rgb(60, 60, 60);
    font-size: 17px;
    color: white;
    font-family: 'normal';
    padding: 20px 80px;
    text-align: center;
    align-items: center;
}
footer img{
    width: 100px;
    margin: 10px;
}
footer .icono{
    width: 60px;
    margin: 1px 10px;
}
#logoF{
    box-shadow: 0 3px 10px rgb(255 215 0 / 0.7);
    border-radius: 50%;
}




/* %%%%%%%%CERTIFICADOS%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* ***********principal********************************** */
.principalCertificados{
    background-image: url(imagenes/graduacion.jpg);
    background-size: cover;
    color:white;
    font-family: 'normal';
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 20%;
}

/* ******CERTIFICADOS**************************************************** */
.certificados{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px 10px;  
    justify-content: center; 
    background-color: rgb(254, 245, 239);
    font-family: 'normal';
    padding: 0 20%;
}
.certificado img{
    width: 250px;
    border: 2px solid black;
    
}
.certificado{
    text-align: center;
    border: 2px solid rgb(154, 86, 58);
    border-radius: 30px;
    width: 70x;
    margin: 20px 10px;
    padding: 15px;
    background-color: white;
    width: 300px;
    box-shadow: 3px 5px 15px black;
}
.indicador{
    font-size: 14px;
    font-family: Arial;
    color: rgb(154, 86, 58) ;
}
.certificados a{
    text-decoration: none;
    color: black;
}
a .certificado:hover{
    background-color: rgb(154, 86, 58) ;
    color: white;
    border: 2px solid white;
}





/* %%%%%%%%%%%%%%TRABAJOS%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* /******Principal TRABAJO************************** */
.principalTrabajos{
    background-image: url(imagenes/trabajo.jpg);
    background-size: cover;
    color:white;
    font-family: 'normal';
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 0 20%;
}


/* %%%%%%%%%%%%%%%MAQUILLAJES%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% esto tambien reciclo en todas las targetas */
/* ****PRINCIPAL********************************* */
.maquillajePrincipal{
    background-image: url(imagenes/fondo-maquillaje.png);
    background-size: cover;
    color: white;
    font-family: 'normal';
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.grillaMaquillajes img{
    width: 150px;
    border-radius: 17px;
    padding-top: 10px;
}
.grillaMaquillajes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'normal';
    text-align: center;
    font-size: 12px;
    justify-content: center;
}

.targetaMaquillajes{
    width: 220px;
    height: 225px;
    align-items: center;
    margin-top: 30px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(254, 245, 239) ;
    box-shadow: 5px 5px 15px black;
}
.targetaMaquillajes h3{
    padding-top: 2px;
}

/* ************PEINADOS PRINCIPAL******************************************* */
.peinadoPrincipal{
    background-image: url(imagenes/fondo-peinado.png);
    background-size: cover;
    color: white;
    font-family: 'normal';
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ***********Alisaods principapl************ */
.alisadoPrincipal{
    background-image: url(imagenes/fondoAlizado.png);
    background-size: cover;
    color: white;
    font-family: 'normal';
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* ********EXTENCIONES PRINCIPAL */
.extencionesPrincipal{
    background-image: url(imagenes/extencionesFondo.jpg);
    background-size: cover;
    color: white;
    font-family: 'normal';
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


/* *********GRILLA********************************* */
/* ////////////////////////////////////////////////////////////// */
@media(max-width:550px){
    .nave .lista a {
        font-size: 15px;
    }  
    .icono{
        width: 35px;
    }
    .nave{
        padding: 5px 2px;
    }

    .principal h1{
        font-size: 35px;
    }
    .principal h2{
        font-size: 60px;
    }

    .principal a{
        padding: 15px 25px;
        border: 2px solid wheat;
        border-radius: 20px;
        color: white;
        background-color: rgb(154, 86, 58) ;
        text-decoration: none;
        font-size: 25px;
        transition: 0.3s;
    }
}

@media(max-width:800px){
    .nave .lista{
        margin: 0 10px;
        width: 95%;
    }
}
